.properties-page{

padding-bottom:70px;

}



.properties-banner{

background:#2563eb;

padding:70px 20px;

text-align:center;

color:white;

}



.properties-banner h1{

font-size:45px;

margin-bottom:15px;

}



.properties-banner p{

font-size:18px;

color:#dbeafe;

}



.all-properties{

width:90%;

max-width:1200px;

margin:auto;

}



.properties-grid{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:30px;

margin-top:40px;

}



@media(max-width:900px){

.properties-grid{

grid-template-columns:

repeat(2,1fr);

}

}



@media(max-width:600px){

.properties-grid{

grid-template-columns:1fr;

}


.properties-banner h1{

font-size:32px;

}

}