.home-page{

width:100%;

}



/* Hero */


.hero-section{

height:600px;

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}



.hero-content{

max-width:750px;

padding:20px;

color:white;

}



.hero-content h1{

font-size:55px;

font-weight:700;

line-height:1.2;

margin-bottom:20px;

}



.hero-content p{

font-size:20px;

color:#e2e8f0;

margin-bottom:35px;

line-height:1.6;

}



.hero-content button{

background:#2563eb;

color:white;

padding:15px 35px;

border-radius:10px;

font-size:17px;

font-weight:600;

}



.hero-content button:hover{

background:#1d4ed8;

}






/* Featured Section */


.featured-section{

width:90%;

max-width:1200px;

margin:80px auto;

}



.section-heading{

text-align:center;

margin-bottom:40px;

}



.section-heading h2{

font-size:38px;

color:#0f172a;

margin-bottom:10px;

}



.section-heading p{

color:#64748b;

font-size:17px;

}





.property-grid{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:30px;

}





@media(max-width:900px){


.hero-section{

height:500px;

}



.hero-content h1{

font-size:40px;

}



.property-grid{

grid-template-columns:

repeat(2,1fr);

}


}





@media(max-width:600px){


.hero-section{

height:450px;

}



.hero-content h1{

font-size:32px;

}



.hero-content p{

font-size:16px;

}



.property-grid{

grid-template-columns:1fr;

}



}