.auth-page{

min-height:75vh;

display:flex;

align-items:center;

justify-content:center;

}



.auth-card{

width:90%;

max-width:420px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.30);

}



.auth-card h1{

text-align:center;

margin-bottom:30px;

}



.auth-card input{

width:100%;

padding:14px;

margin-bottom:15px;

border:1px solid #9fa5ae;

border-radius:15px;

}



.auth-card button{

width:100%;

padding:14px;

background-color:#462562;

color:white;

border-radius:20px;

font-weight:600;

}